#ili-container {
    height: 100%;
    width: 100%;
}
.header{
    height: 15%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 5em;
}
.main{
    display: flex;
    flex-direction: row;
    flex: auto;
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #000000;
}

#surfaceBtn {
    background: url("img/surface.png") no-repeat right bottom;
    background-size: contain;
    text-align: right;
    /*margin-right: 10px;*/
}

#volumeBtn {
    background: url("img/volume.png") no-repeat left bottom;
    background-size: contain;
    text-align: left;
}

.menuBtn {
    background: transparent;
    flex: 50%;
    border: none;
    color: white;
    font-size: 2em;
    display: inline-grid;
    margin: 3%;
    overflow: hidden;
    transition: all 0.5s;
    filter: grayscale(0.5);
    border: darkgray 1px solid;
    border-radius: 25px;
}

.menuBtn .text {
    font-size: 4em;
}

.menuBtn div{
    margin: 0 10%;
    position: static;
}
.menuBtn:hover {
    border: #ffffff 1px solid;
    transform: scale(1.12);
    filter: grayscale(0);
}

.emperor-tab-div,
.emperor-tab-div div[name="emperor-view-controller-canvas"],
.emperor-tab-div div[name="emperor-view-controller-canvas"] div[name="emperor-view-controller-body"] {
    width: 100% !important;
}

#controls-area[aria-expanded="false"] {
    display: none;
}

#tabs-container {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    float: right;
    overflow-y: auto;
}

#tabs-list li a {
    text-overflow: ellipsis;
}

#controls-switcher {
    top: 5px;
    right: 5px;
    z-index: 1;
    padding-top: 3px;
    display: inline !important;
    width: initial !important;
    height: initial !important;
    border: none;
    font-size: large;
}

/*
 * SlickGrid specific
 *
 * Gets rid of a horrible blue color that would otherwise get added to the
 * grid, making it look not so slick. As suggested by:
 *
 * http://stackoverflow.com/a/17268879
 **/
.slick-row.ui-widget-content, .slick-cell {
    background: none;
}

#view-container {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    display:  flex;
    height: 100%;
}

#status {
    color: black;
    left: 40%;
    top: 50%;
    width: 300px;
    height: 170px;
    position: absolute;
    border-radius: 10px;
    background-color: #FCF8E3;
    opacity: 0.6;
    padding: 15px;
    text-align: center;
    display: block;
    visibility: hidden;
    transition: 0.5s 0.1s;
}

.load-indicator {
    border: 16px solid #FCF8E3;
    border-top: 16px solid #F2A359;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: load-spin 2s linear infinite;
}

@keyframes load-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#status > span {
    margin: auto;
}
/*
#status[hidden] {
    opacity: 0;
}*/

#open-button {
    color: #F2A359;
    cursor: pointer;
}

#current-map-label {
    cursor: pointer;
    -webkit-user-select: none;
}

#map-selector {
    position: absolute;
    right: 20px;
    top: 30%;
    width: 200px;
    bottom: 100px !important;
    background-color: silver;
    overflow:  hidden;
    z-index: 100;
    display:  flex;
    flex-direction: column;
    border: 1px solid #002000;
    font: 12px 'Lucida Grande', sans-serif;
    transition: opacity 200ms;
    box-sizing: border-box;
}

#map-selector[hidden] {
    display: none;
}

#map-selector > input {
    left: 2px;
    right: 2px;
}

#map-selector > .items {
    overflow-y: auto;
    flex: 1;
    background-color:  white;
}

#map-selector > .items > * {
    cursor: pointer;
    padding: 3px;
}

#map-selector > .items > *[selected] {
    color: white;
    background-color: blue;
}

#drop-target-informer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(255,255,255,0.8);
    display: none;
}

body[drop-target] > #drop-target-informer {
    display: flex;
}

#drop-target-informer > .message {
    border: 4px dashed #ddd;
    pointer-events: none;
}

.message {
    flex: auto;
    font-size: 30px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#errors {
    color: white;
}

#errors button {
    color: black;
}

.View3D > canvas,
.View2D > canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.View3D {
    overflow: hidden;
}

.SpotLabel3D, .SpotLabel2D {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 4px;
    pointer-events: none;
}

.SpotLabel3D > a, .SpotLabel2D > a {
    pointer-events: auto;
}

.SpotLabel3D::before, .SpotLabel2D::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
